[user]
# adl
# email = ryo.ohshima@actdesign-lab.co.jp
# name = OhshimaRyo

# private
# email = chlslmps@gmail.com
# name = ryoohshima

# hts
# email = info@high-ts.com
# name = hts-admin

# propo
email = ryo.oshima@propo.fm
name = RyoOshimaPropo


[http]
postBuffer = 1G
